In [1]:
import pandas as pd

company = {
    "mohammed": {"age": 28, "salary": 7000, "city": "Alexandria"},
    "ahmed": {"age": 35, "salary": 12000, "city": "Giza"},
    "laila": {"age": 24, "salary": 9000, "city": "Mansoura"}
}

df = pd.DataFrame(company)

print(df)

          mohammed  ahmed     laila
age             28     35        24
salary        7000  12000      9000
city    Alexandria   Giza  Mansoura

In [1]:
for row in range(10):
    for column in range(10):
        if (column == 0 or column == 6) and row != 0 or (row == 0 or row == 5) and (column > 0 and column < 6):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * * * *
*           *
*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *
*           *

In [2]:
for row in range(10):
    for column in range(10):
        if ((column == 2 or column == 6) and row > 2) or (row == 2 or row == 5) and (column > 2 and column < 6):
            print(" ", end=" ")
        else:
            print("*", end=" ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * *       * * * *
* *   * * *   * * *
* *   * * *   * * *
* *           * * *
* *   * * *   * * *
* *   * * *   * * *
* *   * * *   * * *
* *   * * *   * * *

In [1]:
data_points = [42, 129, 8, 256, 14, 91]
top_val = data_points[0]
for value in data_points:
    if value > top_val:
        top_val = value
print(top_val)

256

In [2]:
phrase = "snape was a good guy"
chars = "aeiou"
total_v = 0
for letter in phrase.lower():
    if letter in chars:
        total_v += 1
print(total_v)

7

In [3]:
low, high = 50, 80
for x in range(low, high + 1):
    if x > 1:
        for i in range(2, x):
            if (x % i) == 0:
                break
        else:
            print(x)

53
59
61
67
71
73
79

In [4]:
limit = 15
seq = [0, 1]
while len(seq) < limit:
    seq.append(seq[-1] + seq[-2])
print(seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [6]:
wallet = 4500
request = 5000
if request <= wallet:
    wallet -= request
    print(wallet)
else:
    print("Error: Low Balance")

Error: Low Balance

In [7]:
set_a = [10, 20, 30, 40, 50]
set_b = [30, 50, 70, 90]
shared = [x for x in set_a if x in set_b]
print(shared)

[30, 50]

In [8]:
target = 8
result = 1
for n in range(1, target + 1):
    result *= n
print(result)

40320

In [9]:
score = 85
while score < 0 or score > 100:
    score = 50 
print(score)

85

In [10]:
serial = 9876
grand_total = sum(int(d) for d in str(serial))
print(grand_total)

30

In [12]:
rows = 8
for k in range(2, rows + 3):
    print("#" * k)

##
###
####
#####
######
#######
########
#########
##########

In [13]:
entry = "level"
is_valid = entry == entry[::-1]
print(is_valid)

True

In [14]:
headers = ["ID", "Status", "Code"]
info = [101, "Active", "X24"]
mapping = dict(zip(headers, info))
print(mapping)

{'ID': 101, 'Status': 'Active', 'Code': 'X24'}

In [15]:
secret_key = "akagami69"
user_input = "akagami99"
if user_input == secret_key:
    print("Login Success")
else:
    print("Login Failed")

Login Failed

In [16]:
factor = 12
for m in range(1, 13):
    print(factor * m)

12
24
36
48
60
72
84
96
108
120
132
144